doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="TechFix - ваш партнер у світі комп'ютерів. Надійний сервіс та уважний підхід до ремонту та збірки ПК, щоб забезпечити оптимальну продуктивність та задоволення від використання вашого обладнання.")
    meta(name="keywords" content="Techfix, ремонт, відремонтувати, купити комп'ютер, замовити пк")
    meta(name="author" content="Кашко Костянтин")
    meta(name="publisher" content="Кашко Костянтин")
    meta(name="copyright" lang="uk" content="TechFix Ремонт, Оновлення та збірка для вашого Комп'ютера!")
    link(rel="stylesheet" href="css/style.css")
    link(rel='apple-touch-icon' sizes='57x57' href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='img/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='img/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='manifest' href='manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    meta(property="og:title" content="TechFix Ремонт, Оновлення та збірка для вашого Комп'ютера!")
    meta(property="og:description" content="TechFix - комп'ютерний сервіс з максимальною ефективністю ремонту вашого пк.")
    meta(property="og:image" content="img/logo.png")
    meta(property="og:url" content="https://kostyantinkaschko.github.io/TechFix/")
    meta(property="og:type" content="business.business")
    title TechFix ремонт, оновлення та збірка для вашого комп'ютера
  body 
    .vignette
    .frame1
    .frame3
    .frame2
    .frame4
    .wrapper(itemscope itemtype="https://schema.org/Organization")
      header(itemscope itemtype="https://schema.org/WPHeader") 
        .logo(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          img(src="img/techfix.png" alt="Сервісний центр TechFix") 
          h1(itemprop="headline") Привітайте змогу безперебійної роботи вашого ПК з TechFix
      main(itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement")
        .sides 
          .leftside 
            .description  
              p(itemprop="description")
                | Відкрийте світ безмежних можливостей із нашою компанією TechFix.  
                | Techfix сервіс де професіональні фахівці, які спеціалізуються на ремонті
                | комп'ютерів будь-якої складності відремонтують ваш пк з легкістю.
              p(itemprop="description")
                | Незалежно від проблеми, ми знаходимо рішення. 
                | Наші фахівці мають багаторічний досвід у ремонті 
                | комп'ютерів. Techfix розуміє, як вам важливо повернути вам ваш пк
                | тому наш сервіс працюємо з максимальною ефективністю.
          hr.vertical
          aside.rightside 
            .topside 
              h2(itemprop="headline") Контакти:
              .content
                .contacts 
                  a(class="phone" href="tel:0676742730" itemprop="telephone") 067 674 2730
                  a(class="telegram" href="https://t.me/TechFixChannel" target="_blank" itemprop="url") @TechFixChannel
                  a(class="email" href="mailto:tech.fix@gmail.com" target="_blank" itemprop="email")  tech.fix@gmail.com
              hr.horizontal
              .bottomside 
                .headerline  
                  h3(itemprop="headline") Адреса:
                .content  
                  .contacts  
                    a(class="adress" href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%92%D0%B0%D0%B9%D1%81%D0%B5%D1%80%D0%B0,+10,+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D1%8C%D0%BA%D0%B8%D0%B9,+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+29000/@49.42837,26.9783778,17z/data=!3m1!4b1!4m6!3m5!1s0x473206fb8b8b976b:0xd88b312e9c97bd4!8m2!3d49.4283665!4d26.9809527!16s%2Fg%2F11c5lxr8tt?hl=uk-UK&entry=ttu" target="_blank" itemprop="address") Вулиця Вайсера, 10, Хмельницький
      footer(itemscope itemtype="https://schema.org/WPFooter")
        p(itemprop="legalName") TechFix






